@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #633cff;
  --color-primary-hover: #beadff;
  --color-light-primary: #efebff;
  --color-dark-gray: #333333;
  --color-gray: #737373;
  --color-borders: #d9d9d9;
  --color-light-gray: #fafafa;
  --color-red: #ff3939;

  /* fonts and text */
  --default-font-family: "Instrument Sans", sans-serif;

  --text-heading-m: 2rem;
  --text-heading-m--font-weight: 700;

  --text-heading-s: 1rem;
  --text-heading-s--font-weight: 600;

  --text-body-m: 1rem;
  --text-body-m--font-weight: 400;

  --text-body-s: 0.75rem;
  --text-body-s--font-weight: 400;

  /* buttons */
  --button-primary-bg: var(--color-primary);
}

@utility text-body-* {
  color: var(--color-dark-gray)
}

@utility text-heading-* {
  color: var(--color-dark-gray)
}

/* @layer components {
  .text-super-m {
    @apply text-4xl font-bold text-red;
  }
} */

/* @utility text-super-m {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: blue;
} */

body, html {
  height: 100%;
}

button:not(:disabled) {
  cursor: pointer;
}
